{{#if brand_results}}
  <div class="brand-results">
    <h2>{{lang 'search.brand_results' count=brand_results.length}}</h2>
    {{#each brand_results}}
      <article class="search-result brand-result">
        <span class="brand-result-title">
          <a href="{{url}}">
            {{name}}{{#unless @last}},{{/unless}}
          </a>
        </span>
      </article>
    {{/each}}
  </div>
{{/if}}

{{#if category_results.length}}
  <div class="category-results">
    <h2>{{lang 'search.category_results' count=category_results.length}}</h2>
    {{#each category_results}}
      <article class="search-result category-result">
        <span class="category-result-title">
          {{#each this}}
            <a href="{{url}}">{{name}}</a>{{#unless @last}},{{/unless}}
          {{/each}}
        </span>
      </article>
    {{/each}}
  </div>
{{/if}}
