<div class="search-tab product-search-tab
  {{#if pagination.product_results.total '===' 0}}
    disabled
  {{else}}
    active
  {{/if}}"
  data-search-tab="product">
  <div class="collection-sidebar-column">
    {{> components/search/sidebar}}
  </div>

  {{#if brand_results.length '!==' 0}}
    <div class="collection-brand-category-index-column">
      {{> components/search/brands-categories}}
    </div>
  {{else}}
    {{#if category_results.length '!==' 0}}
      <div class="collection-brand-category-index-column">
        {{> components/search/brands-categories}}
      </div>
    {{/if}}
  {{/if}}

  <div class="collection-product-index-column">
    {{{snippet 'search'}}}

    {{> components/search/product-index}}
  </div>
</div>
