{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="/shop/">Shop</a>
                        <ul class="footer-info-sublist">
                            {{#each categories}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col" data-section-type="footer-categories">
                <h5 class="footer-info-heading">{{lang 'footer.info'}}</h5>
                <ul class="footer-info-list">

                        <li>
                            Mon-Fri <span class="footer-list-right">8:00am to 5:00pm</span>
                        </li>
                        <li>
                            Saturday <span class="footer-list-right">9:00am to 1:00pm</span>
                        </li>
                        <li>
                            Sunday <span class="footer-list-right">Closed</span>
                        </li>
                        <li><br></li>
                        <li>
                            Phone <span class="footer-list-right">301.813.2405</span>
                        </li>
                        <li>
                            Email <span class="footer-list-right">support@rixracing.com</span>
                        </li>

                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

            {{#if settings.address}}
            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h5 class="footer-info-heading">{{lang 'footer.info'}}</h5>
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                {{/if}}
            </article>
            {{/if}}

            <article class="footer-info-col footer-info-col--small" data-section-type="helpTopics">
                <h5 class="footer-info-heading">{{lang 'footer.help'}}</h5>
                <ul class="footer-info-list">

                        <li>
                           Contact Us
                        </li>
                        <li>
                          FAQ
                        </li>
                        <li>
                         Privacy Policy
                        </li>

                </ul>
            </article>
            <article class="footer-info-col" data-section-type="stayConnected">
                <h5 class="footer-info-heading stayConnected">{{lang 'footer.social'}}</h5>
                <ul class="footer-info-list social">

                        <li>
                            <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        </a>
                        </li>
                        <li>
                                <a href="#">
                        <i class="fab fa-youtube"></i>
                                </a>
                        </li>
                        <li>
                                <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                                </a>        
                        </li>

                </ul>
            </article>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}

        {{#if theme_settings.show_copyright_footer}}
    </div>
    <div class="container-fluid">
    <div class="footer-copyright">
        <p class="powered-by">Copyright &copy; {{moment format="YYYY"}} RIX RACING.<!--{{settings.store_name}}--> 
    
    {{/if}}
    {{#if theme_settings.show_powered_by}}
        
            Powered by <a href="https://bigcommerce.mnzen.com/" rel="nofollow">MNZEN DESIGN</a></p>
        </div>
    {{/if}}
    </div>
</footer>
