<div class="pagination-container">

  {{#if pagination.links.length}}
    <div class="pagination">
      {{#if pagination.previous}}
        <a class="pagination-item previous" href="{{pagination.previous}}" data-pagination>
          <span class="icon pxu-chevron-rounded-left" aria-hidden="true"></span>
          {{lang 'common.pagination.previous'}}
          <span class="page"> {{lang 'common.pagination.page'}}</span>
        </a>
      {{/if}}

      {{#each pagination.links}}
        {{#if number '===' ../pagination.current}}
          <span class="pagination-item pagination-page pagination-current">{{number}}</span>
        {{else}}
          <a class="pagination-item pagination-page" href="{{url}}" data-pagination>{{number}}</a>
        {{/if}}
      {{/each}}

      {{#if pagination.next}}
        <a class="pagination-item next" href="{{pagination.next}}" data-pagination>
          {{lang 'common.pagination.next'}}
          <span class="page"> {{lang 'common.pagination.page'}}</span>
          <span class="icon pxu-chevron-rounded-right" aria-hidden="true"></span>
        </a>
      {{/if}}
    </div>
  {{/if}}

  <a class="to-top" data-to-top href="#top">{{lang 'common.back_to_top'}}</a>
</div>
