{{#if category.image}}
  <div class="category-image-container">
    <img src="{{getImage category.image 'category-header'}}" alt="{{category.name}}">
  </div>
{{/if}}

{{> components/products/product-index-header sort=pagination.category.sort}}

{{> components/products/grid
  products=category.products
  grid_class="three-across"
  show_compare=category.show_compare
  default_image=theme_settings.default_image
  enable_quick_shop=theme_settings.quick_shop_enabled
  show_ratings=settings.show_product_rating
}}

{{#if category.products.length}}
  {{> components/common/pagination pagination=pagination.category faceted_search=category.faceted_search_enabled}}
{{/if}}

<div class="collection-progress-overlay">
  <div class="inner">
    {{> components/common/spinner spinner_class='spinner-dark'}}
    {{lang 'common.loading'}}
  </div>
</div>
