{{#if shop_by_price}}
  <div class="sidebar-block shop-by-price">
    <h5 class="shop-by-price-heading sidebar-heading">{{lang 'category.shop_by_price'}}</h5>
    <ul class="shop-by-price-list">
      {{#each shop_by_price}}
        <li class="shop-by-price-item">
          <a class="{{#if selected }}is-active{{/if}}" href="{{url}}" alt="{{low.formatted}} - {{high.formatted}}">{{low.formatted}} - {{high.formatted}}</a>
        </li>
      {{/each}}

      {{#any shop_by_price selected=true}}
        <li class="shop-by-price-item">
          <a href="{{category_url}}" class="navList-action">
            {{lang 'category.sidebar.reset'}}
          </a>
        </li>
      {{/any}}
    </ul>
  </div>
{{/if}}