<article class="blog-item"  itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="url" content="{{url}}">

  {{#if show_thumb}}
    <figure class="blog-image-container {{#unless thumbnail}}blog-image-container-empty{{/unless}}">
      {{#if thumbnail}}
        <a href="{{url}}" title="{{title}}">
          <img src="{{getImage thumbnail 'blog-thumbnail'}}" alt="{{title}}" itemprop="image">
        </a>
      {{/if}}
    </figure>
  {{/if}}

  <time class="timestamp" itemprop="datePublished">{{date_published}}</time>
  <a href="{{url}}" title="{{title}}">
    <h4 class="title" itemprop="headline">{{title}}</h4>
  </a>
  <div class="excerpt" itemprop="articleBody">
    {{#if summary}}
      {{{summary}}}{{#if summary.length ">=" 150}}&hellip;{{/if}}
    {{else}}
      {{{body}}}
    {{/if}}
  </div>
  <a href="{{url}}" title="{{title}}" class="continue-reading">{{lang 'blog.continue_reading'}} &rsaquo;</a>
</article>
