{{#if cart.items.length}}

  {{#if cart.status_messages.length}}
    {{#each cart.status_messages}}
      {{> components/alerts/alert-info message}}
    {{/each}}
  {{/if}}

  {{> components/cart/coupon-code}}

  {{#if settings.gift_certificates_enabled}}
    {{> components/cart/gift-certificate}}
  {{/if}}

  <table class="price-totals-table">
    <tr>
      <td class="label">{{lang 'cart.subtotal'}}</td>
      <td class="value">{{cart.sub_total.formatted}}</td>
    </tr>

    {{#if cart.gift_wrapping_cost.value ">" 0}}
      <tr class="cart-total">
        <td class="label">{{lang 'cart.gift_wrapping.title'}}</td>
        <td class="value">{{cart.gift_wrapping_cost.formatted}}</td>
      </tr>
    {{/if}}

    {{#if cart.coupons}}
      {{#each cart.coupons}}
        <tr class="cart-total">
          <td class="label">
            {{lang 'cart.coupon_codes.coupon_code_label' code=code}}
          </td>
          <td class="value">
            {{discount.formatted}}
            <div class="cart-action-minor">
              <a href="{{remove_url}}">
                {{lang 'cart.coupon_codes.remove'}}
              </a>
            </div>
        </tr>
      {{/each}}
    {{/if}}

    {{#if cart.discount.value "<" 0}}
      <tr class="cart-total">
        <td class="label">{{lang 'cart.discount'}}</td>
        <td class="value">{{cart.discount.formatted}}</td>
      </tr>
    {{/if}}

    {{#each cart.gift_certificates}}
      <tr class="cart-total">
        <td class="label">
          {{lang 'cart.gift_certificates.gift_certificate'}}
          <div class="gift-cert-meta">
            {{lang 'cart.gift_certificates.code_label'}} {{code}}
          </div>
          <div class="gift-cert-meta">
            {{lang 'cart.gift_certificates.remaining_label'}} {{remaining.formatted}}
          </div>
        </td>
        <td class="value">
          {{used.formatted}}
          <div class="cart-action-minor">
            <a href="{{remove_url}}">
              {{lang 'cart.gift_certificates.remove'}}
            </a>
          </div>
        </td>
      </tr>
    {{/each}}

    {{#if cart.shipping_handling.show_estimator}}
      <tr class="cart-total">
        <td class="label">
          {{lang 'cart.shipping_calculator.estimated_shipping'}}
        </td>
        <td class="value">
          {{#if cart.shipping_handling.shipping_cost}}
            {{cart.shipping_handling.shipping_cost.formatted}}
            <div class="cart-action-minor">
              <a data-shipping-calculator-toggle>
                {{lang 'cart.shipping_calculator.recalculate_shipping'}}
              </a>
            </div>
          {{else}}
            <a
              class="show-calculator"
              data-cancel-text="{{lang 'cart.shipping_calculator.cancel'}}"
              data-shipping-calculator-toggle
            >
              {{lang 'cart.shipping_calculator.estimate_shipping'}}
            </a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {{> components/cart/shipping-calculator cart.shipping_handling}}
        </td>
      </tr>
    {{/if}}

    {{#each cart.taxes}}
      <tr class="cart-total">
        <td class="label">{{name}}</td>
        <td class="value">{{cost.formatted}}</td>
      </tr>
    {{/each}}

    <tr class="order-total">
      <td class="label">{{lang 'cart.total'}}</td>
      <td class="value">{{cart.grand_total.formatted}}</td>
    </tr>
  </table>
  <a
    class="button button-primary button-large button-wide"
    href="{{urls.checkout.single_address}}"
  >
    {{lang 'cart.checkout'}}
  </a>
  {{#if cart.show_multiple_address_shipping}}
    <a
      class="checkout-multiple"
      href="{{urls.checkout.multiple_address}}"
    >
      {{lang 'cart.checkout_multiple'}}
    </a>
  {{/if}}

  {{#if cart.additional_checkout_buttons.length}}
    <div class="additional-checkout-buttons">
      {{#each cart.additional_checkout_buttons}}
        {{{this}}}
      {{/each}}
    </div>
  {{/if}}

  <div class="cart-footer-loading-overlay">
    {{> components/common/spinner spinner_class='spinner-dark'}}
  </div>

{{else}}
  <div>{{! need an empty div so this template can be pulled in via ajax.}}</div>
{{/if}}
