<li class="{{prefix}}{{class}} {{#all caret children}}menu-dropdown{{/all}}">
  <a href="{{url}}">
    {{name}}
    {{#all children caret}}
      <span class="caret"></span>
    {{/all}}
  </a>
  {{#if children}}
  <button class="open-dropdown" data-heading="{{name}}" data-id="{{name}}-{{@index}}">
    <svg class="open-arrow"><use xlink:href="#icon-arrow-right"></svg>
  </button>
    <ul class="{{#all caret children}}dropdown{{/all}}">
      {{#each children}}
        {{#if ../caret}}
          {{> components/header/navigation-item prefix="sub" class=../../class}}
        {{else}}
          {{> components/header/navigation-item prefix=(concat "sub-" ../../prefix) class=../../class}}
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
</li>