<div class="product-images-container">
  <div class="product-slides-container" id="product-images">
    <div
      class="
        product-slides-wrap
        {{#if images.length '>' 1}}
          has-multiple-images
        {{/if}}
      "
    >
      {{#each images}}
        <a
          href="{{getImage this 'product-x-large'}}"
          class="product-slide"
          {{#if this.alt '!=' ../this.title}}data-caption="{{this.alt}}"{{/if}}
        >
          <img src="{{getImage this 'product'}}" alt="{{this.alt}}">
        </a>
      {{/each}}
    </div>
  </div>
  {{#compare images.length 1 operator=">"}}
    <ul class="product-images-pagination">
      {{#each images}}
        <li>
          <a href="#" data-slide-to="{{@index}}">
            <img src="{{getImage this 'thumbnail'}}" alt="{{this.alt}}">
          </a>
        </li>
      {{/each}}
    </ul>
  {{/compare}}
</div>
