<script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js"></script>
<div class="container-fluid">
        <div class="index_banners">
            
        </div>
</div>
<script>
/* Objective: Modify our existing 2 x 6 Grid Pattern into a rotating banner gallery that changes randomly on load, just like the Quote Machine.*/
var first = [], second = [], third = [], fourth = [], fifth = [], sixth = [];
var	banners = [first, second, third, fourth, fifth, sixth];
function getBanners() {
  var anchor = document.querySelector('.index_banners');
  anchor.innerHTML = ``;
Tabletop.init( { key: '1YeNsXioinHU7GTwWjDUb3WhDFyPk8AB1GoOeuiKBK2M',
callback: function(data, tabletop) {
   for (let i = 0; i < data.length; i++){
       let pos = data[i].pos, enb = data[i].enabled, link = data[i].link;
   if ((pos === 'first' || pos === 'skis') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   first.push(data[i]);
       }
                else if ((pos === 'second' || pos === 'snowboards') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   second.push(data[i]);
       }
                else if ((pos === 'third' || pos === 'softgoods') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   third.push(data[i]);
       }
                         else if ((pos === 'fourth' || pos === 'footwear') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   fourth.push(data[i]);
       }
                         else if ((pos === 'fifth' || pos === 'service') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   fifth.push(data[i]);
       }
                         else if ((pos === 'sixth' || pos === 'clearance') && (link != 'https://' && link != undefined) && (enb == true || enb == 'TRUE' || enb == 'yes' && (enb != undefined || enb != false || enb != 'FALSE'))){
   sixth.push(data[i]);
       }
   }
   for (let l = 0; l < banners.length; l++){
  let grid = document.createElement('div');
  grid.className = 'ban_index b' + l;
  anchor.append(grid);
  let ban_img = document.createElement('div');
  ban_img.className = 'ban_img';
  grid.append(ban_img);
  let img = document.createElement('img');
  ban_img.append(img);
  let ban_wrap = document.createElement('div');
  ban_wrap.className = 'ban_wrap';
  grid.append(ban_wrap);
  let a = document.createElement('a');
  ban_wrap.append(a);
  let h2 = document.createElement('h2');
  a.append(h2);
  let h3 = document.createElement('h3');
  a.append(h3);
           var r = Math.floor(Math.random() * banners[l].length);
  document.querySelector('.b' + l +' img').className = banners[l][r].classname;
      let banImg = banners[l][r].imgsrc;
      if (banImg == undefined){
          banImg = 'https://via.placeholder.com/960l525&telt='+banners[l][r].title + "+-+" + banners[l][r].subtitle;
      }
      else if (banImg.length < 34 && banImg != undefined){
          banImg = "https://www.highmountainsports.com/skin/frontend/base/default/images/banners/" + banners[l][r].imgsrc;
      }
      else {
      banImg = banImg.imgsrc;
      }
      document.querySelector(".b" + l + " img").src = banImg;
      document.querySelector(".b" + l + " a").href = banners[l][r].link;
      document.querySelector(".b" + l + " img").alt =	banners[l][r].title + " - " + banners[l][r].subtitle;
      document.querySelector(".b" + l + " h2").innerHTML = banners[l][r].title;
      h3 = document.querySelector(".b" + l + " h3")
      h3.innerHTML = banners[l][r].subtitle;
          if (banners[l][r].subtitle.length <= 34){
      h3.style = 'padding-top:3em';
  }
  else {
      h3.style = 'padding-top:2em';
  }
  
//Checks whether images loaded or not and updates them to a black background if needed. Reports mising images to console.
  img.onerror = function(e){
  error.log('Error.\n\"' + img.src + '" is invalid.');
      img.src = 'https://via.placeholder.com/960x525/262626/262626';
  };	 
} 
   },		 
simpleSheet: true } )
          
}
document.bodyonload = getBanners();</script>