<div class="new_arrivals index" data-source-url="https://www.highmountainsports.com/skin/frontend/default/theme327k/images/bg_new_arrivals.jpg" style="background-image: url(&quot;https://www.highmountainsports.com/skin/frontend/default/theme327k/images/bg_new_arrivals.jpg&quot;); background-attachment: fixed; width: 1583px; margin-left: -792px; left: 50%; background-position: 50% 58.7758%;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
    <div class="new_arrivals_wrapper">
    	<div class="new_arrivals_block">
     	<h2>Winter Clearance</h2>
      <h3>Save up to 50% off</h3>
      <a href="https://www.highmountainsports.com/outlet.html/" class="shop_now"><span>Shop now!</span></a>
     </div>
    </div>
   </div>
		</div>
		<div class="clear"></div>
	</div>
</div>