<div class="container">
		<div class="row">
			<div class="col-xs-12">
    <div class="about_block_wrapper">
    	
     <div class="title_about">Learn About Us</div>
     <div class="about_col ac1">
     	<a href="about#smallbizz">
      <div class="about_number about"></div>
      <h2>Small Business</h2>
      <h3>Although our store has evolved over the years, we continue to stay true to our roots and are still catering to our core customer.  </h3>
      </a>
     </div>
     <div class="about_col ac2">
     	<a href="about#rentals">
      <div class="about_number rental"></div>
      <h2>Superb Rentals</h2>
      <h3>The seasons change, but we always offer rentals for whatever the weather. We only stock top brands in our fleet.</h3>
      </a>
     </div>
     <div class="about_col ac3">
     	<a href="about#tunes">
      <div class="about_number tunes"></div>
      <h2>Incredible Tunes</h2>
      <h3>We are equipped with state-of-the-art equipment to tune everything from skis and snowboards to bikes in summer.</h3>
      </a>
     </div>
     <div class="about_col ac4">
     	<a href="about#staff">
      <div class="about_number service"></div>
      <h2>Customer Support</h2>
      <h3>Proud to offer best in class customer service. Call us up any day between 9am and 7pm EST to reach a real human!</h3>
      </a>
     </div>
     
    </div>
   </div>
		</div>
		<div class="clear"></div>
    </div>
</div>