// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: spacing("double") 0;
    padding-bottom:0;
    margin-top:-2em;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

  
.footer-info-heading {
    font-size: fontSize("base"); 
    font-family: "Speculum";
    color: black;
    font-size: fontSize("base");
    text-transform: uppercase;          
    }

.footer-list-right{
    color: #000;
    
}
.footer-info-list {
    list-style: none;
    margin-left: 0;
    color: stencilColor("navPages-subMenu-backgroundColor");
    font-weight:800;

    a {
        color: stencilColor("navPages-subMenu-backgroundColor");
        text-decoration: none;
        font-weight:800;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;
    font-family: "NK57 Monospace";
    background-color: stencilColor("navPages-subMenu-backgroundColor");
    margin:auto;
    line-height: 5.723;

      

    > .powered-by {
        color: stencilColor("navPages-color");
        font-size: fontSize("large");
        margin: 0;
    }

    a {
        color: stencilColor("navPages-color");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

h5.stayConnected {
    font-size: 25px;
    font-family: "Speculum Outline";
    color: #000;
    @include breakpoint("large") {
        text-align:right;
    }
}
.footer-info-list.social{
    
    & li{
        display:inline;
        font-size:3em;
        padding-left:1em;
    }
    & a{
    color: #000;
    }
    & a:hover{
        color:stencilColor("navPages-subMenu-backgroundColor");
    }
    @include breakpoint("large") {
        text-align:right;
    }
}
