<ul class="faceted-search-filter-list">
  {{#each items}}
    {{!--
      TODO: Remove this check when platform bug fixed.
      Rating facets sometimes provides an item without a URL.
    --}}
    {{#if url}}
      <li class="faceted-search-item">
        <a
          href="{{url}}"
          rel="nofollow"
          title="{{lang 'search.faceted.rating.and_up' rating=param_value}}"
          data-faceted-search-facet
        >
          <input
            type="checkbox"
            class="facet-checkbox"
            {{#if selected}}checked{{/if}}
          >

          <span class="faceted-search-item-label facet-rating">
            <div class="rating-stars stars-{{size}}" aria-hidden="true">
              {{#for 1 5}}
                {{#if ../param_value '>=' $index}}
                  <span class="star pxu-star checked"></span>
                {{else}}
                  <span class="star pxu-star"></span>
                {{/if}}
              {{/for}}
            </div>

            {{#if ../show_product_counts}}
              <span class="faceted-search-item-count">({{ count }})</span>
            {{/if}}
          </span>
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
