<input
  type="radio"
  id="stars-{{rating_number}}"
  class="sr-only"
  name="revrating"
  value="{{rating_number}}"
  required
  data-vd-message-required="{{lang 'product.reviews.form.rating_required'}}"
>
<label
  for="stars-{{rating_number}}"
  class="star pxu-star"
  title="{{lang 'product.reviews.stars_count' num=rating_number}}"
>
  <svg class="icon-star">
    <use xlink:href="#icon-star"></use>
  </svg>
  <span class="sr-only">
    {{lang 'product.reviews.stars_count' num=rating_number}}
  </span>
</label>
