<article class="review-item review-item-{{class}}">
  <header class="review-item-header">
    {{#if show_rating}}
      <div class="review-item-stars">
        {{> components/products/ratings rating=rating size="medium"}}
        <div class="review-item-score"><span>{{rating}}</span>/5</div>
      </div>
    {{/if}}
    <h5 class="review-item-title">{{title}}</h5>
    <div class="review-meta">
      {{lang 'product.reviews.written_by_on' name=name date=date}}
    </div>
  </header>
  <p class="review-item-body">{{text}}</p>
</article>
