/*
COLORS:

Light green: #54c742
Medium green: #04ad01
Dark green: #0a7412

*/
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transfrom: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  90% {
    transform: translateX(); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*  box-sizing: border-box;*/ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 1.6rem;*/
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #fce622;
  text-transform: uppercase;
  text-shadow: 0 0 3em #fdee6d;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    -webkit-text-stroke: 1px #000;
    font-weight: 400;
    letter-spacing: 3;
    line-height: 4rem;
    animation: moveInRight 1.5s ease-out;
    /*
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay:3s;
    animation-iteration-count:3;
    */ }
  .heading-primary--sub {
    padding: 2em;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: moveInLeft 1.5s ease-out;
    text-shadow: 0 0 1rem #000; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 #000;
  padding: 1.4rem;
  display: inline-block;
  border-radius: 2pt;
  border: 1pt solid #fce622;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background: rgba(255, 255, 255, 0.226);
  color: #fce622; }
  .btn--white::after {
    background: rgba(255, 255, 255, 0.226); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1pt;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.row-mn {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row-mn:not(:last-child) {
    margin-bottom: 8rem; }
  .row-mn::after {
    content: "";
    display: table;
    clear: both; }
  .row-mn [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row-mn [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row-mn .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row-mn .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row-mn .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row-mn .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row-mn .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row-mn .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 75vh;
  background-image: linear-gradient(45deg, rgba(84, 199, 66, 0.1), rgba(10, 116, 18, 0.5)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 55vh, 0 100%);
  /* From tutorial
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
     Triangle
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
     Arrow
    clip-path: polygon(0 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0 80%);
    */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3; }
    .header__logo:hover {
      animation: fadeOut 1s ease-out; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
