<aside class="section-subscription-form">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">{{lang 'newsletter.subscribe'}}</h3>
    </div>
    <form class="form subscription-form" id="radCCSubscribe" action="https://www.radiantretailapps.com/CustomerConnect/Email/Subscribe" method="post" target="_blank">
      <div class="form-field form-inline">
        <label class="sr-only" for="email">
          {{lang 'newsletter.email_placeholder'}}
        </label>
        <input class="form-input" type="text" id="email" name="email"/> <input class="button button-secondary" type="submit" value="Subscribe"/><input type="hidden" id="a" name="a" value="VTNeZ1GLrkOOoFOtoKKokw" />
      </div>
    </form>
    {{#if settings.show_newsletter_summary}}
      <div class="subscription-summary">{{settings.newsletter_summary}}</div>
    {{/if}}
  </div>
</aside>
