<h1 class="collection-name">{{category.name}}</h1>

{{#if category.description.length}}
  <div class="category-description-wrapper">
    <div class="category-description rte">
      {{{category.description}}}
    </div>
  </div>
{{/if}}

{{#if category.subcategories}}
  <div class="sidebar-block category-nav">
    <h5 class="category-nav-heading sidebar-heading">
      {{lang 'category.subcategories'}}
    </h5>
    <ul class="category-nav-list">
      {{#each category.subcategories}}
        <li class="category-nav-list-item">
          <a href="{{url}}">{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if category.faceted_search_enabled}}
  {{#if category.selected.items.length}}
    {{> components/faceted-search/facet-selected
      category.selected
    }}
  {{/if}}

  {{> components/faceted-search/facet-inputs
    facets=category.facets
  }}
{{else}}
  {{> components/category/shop-by-price
    shop_by_price=category.shop_by_price
    category_url=category.url
  }}
{{/if}}

<div class="collection-progress-overlay"></div>
