{{!
  @param items
         A sitemap tree. Each item can have a `url`, `label`, and `children`.
}}
{{#if items.length}}
  <ul>
    {{#each items}}
      <li>
        <a href="{{url}}">{{label}}</a>

        {{#if children}}
          {{> components/sitemap/group items=children}}
        {{/if}}
      </li>
    {{/each}}
    {{#if show_all_link}}
      <li class="sitemap-show-all">
        <a href="{{subsection_url}}">{{lang 'common.sitemap_view_all'}}</a>
      </li>
    {{/if}}
  </ul>
{{/if}}
