<div class="breadcrumbs-container">
  <ul class="breadcrumbs">
    {{#each this}}
      <li class="breadcrumb {{#if @last}}is-active{{/if}}">
        {{#if url}}
          <a href="{{url}}" class="breadcrumb-label link">
            <span>{{name}}</span>
          </a>
        {{else}}
          <span class="breadcrumb-label">
            <span>{{name}}</span>
          </span>
        {{/if}}
        <svg class="breadcrumb-arrow"><use xlink:href="#icon-arrow-right-fat"></svg>
      </li>
    {{/each}}
  </ul>
</div>
