<div class="pxu-fading-circle {{spinner_class}}">
  <div class="pxu-circle1 pxu-circle"></div>
  <div class="pxu-circle2 pxu-circle"></div>
  <div class="pxu-circle3 pxu-circle"></div>
  <div class="pxu-circle4 pxu-circle"></div>
  <div class="pxu-circle5 pxu-circle"></div>
  <div class="pxu-circle6 pxu-circle"></div>
  <div class="pxu-circle7 pxu-circle"></div>
  <div class="pxu-circle8 pxu-circle"></div>
  <div class="pxu-circle9 pxu-circle"></div>
  <div class="pxu-circle10 pxu-circle"></div>
  <div class="pxu-circle11 pxu-circle"></div>
  <div class="pxu-circle12 pxu-circle"></div>
</div>
