---
brands:
  limit: {{theme_settings.brands_per_page}}
---

{{#partial "page"}}

  <div class="container">
    <article class="page-container">
      <h1 class="page-heading page-heading-small">{{lang 'brand.label'}}</h1>
      <div class="brands-content">
        <ul class="brand-items-list">
          {{#each brands}}
            <li class="brand-item {{#unless image}}no-brand-image{{/unless}}">
                <figure class="brand-item-image-container">
                  {{#if image}}
                    <a href="{{url}}">
                      <img class="brant-item-image" src="{{getImage image 'brand-logo'}}" alt="{{name}}">
                    </a>
                  {{/if}}
                </figure>
              <a href="{{url}}">
                <h4 class="brand-item-title">{{name}}</h4>
              </a>
            </li>
          {{/each}}
        </ul>

        {{> components/common/pagination pagination=pagination.brands}}
      </div>
    </article>
  </div>

{{/partial}}

{{> layout/base}}
