---
product_results:
  limit: {{theme_settings.products_per_page}}
---

{{#partial "page"}}
  <div class="container">
    {{#any content_results.length product_results.products.length}}
      {{> components/search/header}}
    {{/any}}

    <div class="collection-columns">
      {{> components/search/product-tab}}
      {{> components/search/content-tab}}
    </div>

    {{#if result_count '===' 0}}
      <div class="search-empty-notice">
        <h2 class="search-empty-notice-heading">No Results</h2>
        {{lang 'search.search_empty' term=forms.search.query}}
      </div>
    {{/if}}
  </div>
{{/partial}}

{{> layout/base}}
