<form class="coupon-code-apply-form" method="post" action="{{urls.cart}}">
  <div class="input-appended">
    <div class="form-input-wrapper">
      <input type="text" class="form-input" id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupon_codes.coupon_code'}}">
    </div>
    <input type="submit" class="button button-small button-secondary" value="{{lang 'cart.coupon_codes.submit'}}">
    <input type="hidden" name="action" value="applycoupon">
  </div>
</form>
