/*

    style.css

    Colours
    *******

    Black:           #000
    Darker Gray:     #222
    Dark Gray:       #333
    Gray:            #444
    Light Gray:      #eee
    Darker Blue:     #0086b2
    Dark Blue:       #0090bf
    Light Blue:      #00c0ff
    Border:          #1e728c

*/

/* -------------------------
        General Styles
   -------------------------*/
html {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}


/* -------------------------
         Typography
  -------------------------*/

  h1, h2, h3 {
    font-weight: 300;
    margin: 0;
    line-height: 45px;
  }

  h4, h5, h6 {
    font-weight: bold;
    margin: 5px 0 5px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 30px;
    margin: 10px 0;
  }

  h5 {
    font-size:13px;
    text-transform:uppercase;
  }

  p {
    margin: 0 0 10px 0;
  }

  p.lead {
    font-size: 18px;
    font-weight:300;
    line-height:24px;
  }

/* -------------------------
          Layout
   -------------------------*/
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background: #000;
}

#logo {
  display: block;
  padding: 16px 0 13px 5px;
  float:left;
}

#hero {
  background: linear-gradient(45deg,hsl(160, 100%, 55.9%),hsl(188.5, 65.1%, 44.9%));
  color:#000;
}

#hero-title {
  width: 520px;
  padding: 60px 0;
  float:left;
}

#call-to-action {
  margin: 40px 0;
}

img#hero-image{
  float:right;
  margin: 10px 0 -30px 0;
}

#lead-in {
	margin-bottom: 30px;
}

#content {
	padding: 100px 0;
}

#column-content {
	width: 700px;
	float: left;
}

/* ---------------------------
	Sidebar
   --------------------------- */

aside {
	background: #444;
	width: 160px; /* 220px with 60px of left and right padding */
	color: #fff;
	float: left;
	margin-left: 20px;
	padding: 30px;
	font-size: 12px;
	line-height: 18px;
}

aside .widget {
	margin: 10px 0;
}

aside .widget:nth-child(2) {
	margin-top: 40px;
}

aside .widget h4 {
	font-weight: 200;
	font-size: 20px;
	margin: 0 0 10px;
}

aside .socials a {
	position: relative;
	margin-right: 5px;
}

aside .socials a:hover {
	top: -1px;
}

/* ---------------------------
	Secondary Call-to-action
   --------------------------- */

#secondary-cta {
	background: #eee;
	padding: 30px 0;
}

#secondary-cta h4 {
	font-weight: 200;
	font-size: 24px;
	float: left;
}

#secondary-cta form {
	margin: 0;
	float: right;
}

/* ---------------------------
	Footer
   --------------------------- */

footer {
	background: #444;
	color: #fff;
	padding: 50px 0;
}

footer #copyright {
	width: 280px;
	float: left;
}

footer nav {
	width: 340px;
	float: right;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer nav a {
	margin: 0 0 0 15px;
}

footer a:hover {
	color: #00c0ff;
}

/* -------------------------
          Navigation
   -------------------------*/

   nav ul {
     margin: 0;
     padding: 0;
     float:right;
   }

   nav ul li {
     list-style: none;
     float:left;
   }

   header nav ul li a {
     display: block;
     color: #fff;
     text-decoration: none;
     padding: 20px;
     border-left:solid 1px #333;
   }

   header nav ul li a:hover{
     background:#222;
   }

   header nav ul li a:active{
     -webkit-box-shadow: 0 0 5px #000000aa;
        -moz-box-shadow: 0 0 5px #000000aa;
             box-shadow: 0 0 5px #000000aa;

   }

 /* -------------------------
          Buttons
   -------------------------*/

.btn {
  width: auto;
  background: linear-gradient(45deg,#00c0ff,#0090bf);
  border: 1px dashed #1e728c;
  color:#fff;
  cursor: pointer;
  display:inline-block;
  border-radius: .5em;

  /* IE7 Inline-block fix */
  zoom: 1;
  *display:inline;

  margin: 0;
  outline:none;
  padding: 10px 20px 11px;
  position: relative;
  text-decoration: none;

/* Box Shadows */
      -webkit-box-shadow: 0 0 10px #00000066;
         -moz-box-shadow: 0 0 10px #00000066;
              box-shadow: 0 0 10px #00000066;

/* Transitions */
   -webkit-transition: background 1.15s ease-in;
      -moz-transition: background 1.15s ease-in;
        -o-transition: background 1.15s ease-in;
           transition: background 1.15s ease-in;
}

.btn:hover {
    color: #fff;
    background: #00c0ff;
}

.btn:active{
  -webkit-box-shadow: 0 0 20px #00000066;
     -mox-box-shadow: 0 0 20px #00000066;
          box-shadow: 0 0 20px #00000066;
               color: #fff;
}

.btn-large {
  padding: 22px 30px;
  font-size:24px;
  font-weight: 200;
}

.btn-secondary {
	font-size: 20px;
}

.btn-small {
	font-weight: bold;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn-secondary:hover {
	text-decoration: underline;
}

.btn-secondary:active {
	position: relative;
	top: 1px;
}

/* -------------------------
       Global Styles
  -------------------------*/

  input {
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
  }

  input[type="text"], input[type="email"] {
  	position: relative;
  	padding: 11px 10px;
  	border: solid 1px #ccc;
  	width: 220px;
  	margin: 0 -5px 0 0;
  }


  .column {
  	float: left;
  	margin-right: 20px;
  }

  .four {
  	width: 220px;
  }

  .last {
  	margin-right: 0;
  }

  .clearfix:before,
  .clearfix:after {
  	content: "";
  	display: table;
  }
  .clearfix:after {
  	clear: both;
  }
  .clearfix {
  	zoom: 1; /* For IE6/7 (trigger hasLayout) */
  }
