/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  height: 100%;
  font-size: 62.5%;
}

body {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%; */
  background: linear-gradient(164deg, #363030, #1b171c);
  font-size: 1.6rem;
  font-family: "Open Sans", serif;
  color: #9ac059;
  transition: all .2s;
}

.app {
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: 75%;
}
.app header {
  margin-top: 6rem;
  background: steelblue;
  width: 100%;
}
.app header h1 {
  font-size: 4rem;
  text-align: center;
  color: transparent;
  display: inline-block;
  background: linear-gradient(7deg, #9ac059, #9ac059);
  -webkit-background-clip: text;
}
.app header #colorDisplay {
  font-size: 200%;
  line-height: .9;
  display: grid;
  text-align: left;
}
.app header #stripe {
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 1rem -25%;
}
.app header #stripe button {
  background: transparent;
  border-radius: 1rem;
  color: #653fa6;
  font-weight: 400;
  padding: 2rem;
  align-self: center;
  transition: .2s all;
}
.app header #stripe button.selected {
  background: linear-gradient(7deg, #9ac059, #9ac059);
}
.app header #stripe button:hover {
  background: linear-gradient(7deg, #9ac059, #9ac059);
  transform: translateY(-1px);
}
.app header #stripe button:active {
  transform: translateY(2px);
}
.app header #stripe button:focus, .app header #stripe button:active {
  outline: none;
}
.app .game {
  margin-top: 3rem;
}
.app .game div {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #ffffff;
  width: 30%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
