
{{#partial "page"}}

<div class="container">
  <article class="page-container page-narrow">
    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="page-content">
      <div class="page-message-area">
      {{#if forms.contact.success}}
        {{> components/alerts/alert-success (lang 'core.contact.successful' shopPath=urls.home)}}
      {{else}}
        <p>{{{page.content}}}</p>
      {{/if}}
      </div>
      {{#unless forms.contact.success}}
        {{> core/forms/form-contact-us}}
      {{/unless}}
    </div>
  </article>
</div>

{{/partial}}

{{> layout/base}}
