<div class="blog-index">
  <section class="blog-items-list" itemscope itemtype="http://schema.org/Blog">
    {{#each blog.posts}}
      {{> components/blog/blog-item this show_thumb=../theme_settings.show_blog_thumbnails}}
    {{/each}}
  </section>

  {{#if blog.posts.length}}
    {{> components/common/pagination pagination=pagination.blog}}
  {{/if}}

  <div class="collection-progress-overlay">
    <div class="inner">
      {{> components/common/spinner spinner_class='spinner-dark'}}
      {{lang 'common.loading'}}
    </div>
  </div>
</div>