<nav class="giftcard-nav">
  {{#if gift_page '===' 'purchase'}}
    <span class="giftcard-nav-item is-active">
      {{lang 'gift_certificate.purchase.heading'}}
    </span>
  {{else}}
    <a class="giftcard-nav-item" href="{{urls.gift_certificate.purchase}}">
      {{lang 'gift_certificate.purchase.heading'}}
    </a>
  {{/if}}
  {{#if gift_page '===' 'redeem'}}
    <span class="giftcard-nav-item is-active">
      {{lang 'gift_certificate.redeem.heading'}}
    </span>
  {{else}}
    <a class="giftcard-nav-item" href="{{urls.gift_certificate.redeem}}">
      {{lang 'gift_certificate.redeem.heading'}}
    </a>
  {{/if}}
  {{#if gift_page '===' 'balance'}}
    <span class="giftcard-nav-item is-active">
      {{lang 'gift_certificate.balance.heading'}}
    </span>
  {{else}}
    <a class="giftcard-nav-item" href="{{urls.gift_certificate.balance}}">
      {{lang 'gift_certificate.balance.heading'}}
    </a>
  {{/if}}
</nav>
