.u{
    &-text-center{
        text-align:center;
    }
    &-margin {
        &-bottom {
            &-sm {
                margin-bottom: 1.5rem;
            }
            &-md {
                margin-bottom: 4rem;
            }
            &-lg {
                margin-bottom: 8rem;
            }
        }
    }
        &-top {
            &-lg {
                margin-top: 8rem;
            }
            &-xl {
                margin-top: 10rem; 
            }
        }
    &-float-right {
        float:right;
    }
}
