<article class="product-item {{this.grid_class}}">
  {{#if out_of_stock_message}}
    <div class="product-item-sold-out-tag">{{out_of_stock_message}}</div>
  {{else}}
    {{#if price.saved}}
      {{> core/products/sale-badge
        classes='product-item-sale-tag'
      }}
    {{/if}}
  {{/if}}

  <a href="{{url}}" title="{{name}}">
    <figure
      class="product-item-thumbnail"
      {{#unless image_has_aspect "===" "use-image"}}
        style="background-image: url({{getImage image 'product-grid-item' (cdn default_image)}})"
      {{/unless}}
    >
      <img
        src="{{getImage image 'product-grid-item' (cdn default_image)}}"
        alt="{{image.alt}}"
      >
    </figure>
  </a>

  <div class="product-item-details">

    {{! components/products/product-item-swatch-row}}

    <a href="{{url}}" title="{{name}}">
      <h3 class="product-item-title">
        {{name}}
      </h3>

      {{#if price}}
        <div class="product-item-price">
          {{> core/products/price
            price=price
            show_savings=false
            show_tax_labels=true
            show_sale_badges=false
            price_range_display=price_range_display
            retail_price_label=retail_price_label
            non_sale_price_label=non_sale_price_label
            sale_price_label=sale_price_label
            price_label=price_label
          }}
        </div>
      {{/if}}

      {{#if show_ratings}}
        <div class="product-item-rating {{#if rating "==" 0}}no-rating{{/if}}">
          {{> components/products/ratings
            rating=rating
            size="small"
          }}
        </div>
      {{/if}}
    </a>

    {{#if show_compare}}
      <label class="form-label product-item-compare" for="compare-{{id}}">
        <input
          type="checkbox"
          class="input-checkbox"
          name="products[]"
          value="{{id}}"
          id="compare-{{id}}"
        >
        <span class="form-label-text">{{lang "product.compare"}}</span>
      </label>
    {{/if}}
  </div>

  {{#if enable_quick_shop}}
    <a
      href="{{url}}"
      class="quick-shop"
      data-quick-shop data-product-id="{{id}}"
    >
      {{lang 'product.quick_view'}}
    </a>
  {{/if}}

</article>
